*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --insideBg: rgb(20, 20, 20);
    --whiteBorder: rgb(240, 240, 240);
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}